@import "./materialize/sass/materialize";
@import url('https://fonts.googleapis.com/css?family=Lato|Poiret+One|Raleway');

html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.row {
  margin-bottom: 0 !important;
}

p {
  text-rendering: optimizeLegibility;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.header-div {
  @extend .navbar-fixed;
}

nav {
  color: #878B8D !important;
  background-color: #fff !important;
  text-transform: uppercase;
  
  ul {
    a {
      color: #878B8D;
      font-size: 12px !important;
    }
  }

  .brand-logo {
    color: #878B8D;
  }

  span {
    padding-left: 10px;
  }
}

.body-cont {
  min-height: 570px;
}

.parallax-container {
  height: 650px;
  .content-wrapper {
    @extend .valign-wrapper;
    background-color: rgba(255, 120, 45, 0.6);
    min-height: 650px;
    .content-body {
      @extend .center;
      width: 100%;
      h1 {
        color: #FEFEFE;
        font-size: 3.4rem;
      }
      p {
        color: #FEFEFE;
        font-size: 1.4375rem;
        font-weight: 300;
        margin-top: 1em;
      }
    }
  }
}
// .container {
//   margin: 0 auto !important;
//   width: 90% !important;
// }
.column {
  font-family: "open sans", arial, sans-serif;

  h2 {
    color: rgb(76, 76, 76);
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    margin: 5px 0px 15px;
    display: block;
    width: 100%;
  }

  p {
    color: rgb(85, 85, 85);
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4;
    font-family: "Roboto", arial, sans-serif;
    display: block;
    width: 100%;
  }

  .row {
    min-height: 640px;
  }

  .content-wrapper {
    display: flex;
    align-items: center; 
    height: 640px;
  }

  .column1 {
    background-image: url('/imgs/doc_security.png');
    height: 500px;
  }
}

.h500 {
  height: 500px;
}

.column:nth-child(odd) {
  background-color: #F6F6F6;
}

.column:nth-child(even) {
  background-color: #fff;
}

.clear {
  clear: both;
}

.m-auto {
  margin: auto 0;
}

.footer {
  background-color: #333333;
  color: #A6A6A6;
  height: 65px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 65px;
  font-size: 16px;
  p {
    margin: 0;
  }
}

.documents-wrapper {
  background-color: #EEEEEE;
  min-height: 600px;

  .doc-body {
    max-width: 70%;
    margin: 0 auto;
    padding: 40px 10px;
  }
}

.card {
  border: thin solid #f8f8f8;
  cursor: pointer;

  .card-action{
    padding: 5px 10px !important;
    position: relative;
    p {
      margin: 0 !important;
    }

    p:nth-child(even) {
      min-height: 45px;
      font-size: 11px;
    }

    i {
      position: relative;
      top: 5px;
    }
  }

  .card-image {
    padding: 30px 0;
    img {
      display: block;
      width: 100px !important;
      height: 100px;
      margin: 10px auto;
    }
  }
}

.card:hover {
   border: thin solid #fff;
   background-color: #f8f8f8;
}

.modal {
  max-height: 600px !important;
  height: 600px !important;
  max-width: 826px !important;
  .modal-content {
    padding: 0px !important;

    input {
      margin-bottom: 0px;
      padding: 10px;
    }
    iframe {
      min-height: 500px !important;
      
      html {
        max-width: 500px !important;
      }
    }

    select {
      margin-top: 20px;
    }
  }
}

.single-document-wrapper {
  background-color: #EEEEEE;
  width: 100%;
  display: block;
  position: relative;
  padding: 40px 5px;
  .content-wrap {
    max-width: 826px;
    margin: 0 auto;
    .content {
      min-height: 500px;
      background-color: #fff;
      padding: 10px;
    }
  }
}

.login-page-wrapper {
  .content {
    min-height: 600px;
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 5px;
    .input-field {
      button {
        float:right;
      }
    }

    h3 {
      margin-left: 20px;
      // border-bottom: 2px solid #EEEEEE;
    }
  }
}

.flex-box {
  display: flex;
  align-items: center; 
  max-height: 640px;
  height: 640px;
}

@media only screen and (max-width : 600px) {
  .flex-box {
    height: 300px !important;
  }

  .column {
    .content-wrapper {
      height: 350px !important;
    }
  }

  .row {
    margin-bottom: 0px !important;
  }
}